body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: rgb(59, 71, 84);
}

header {
  justify-content: space-between;
  padding: 1.5em 5em;
  text-align: center;
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid rgb(35, 35, 35, 0.2);
}

.logo img {
  height: 45px;
  width: 135px;
}

.navbar button {
  border: 1px solid rgb(41, 50, 61, 255);
  border-radius: 3px;
  padding: 7px 17px;
  background-color: transparent;
  font-size: 17px;
  margin-right: 10px;
}

.navbar button:hover {
  background-color: rgb(121, 141, 163, 0.15);
}

.navbar button a {
  text-decoration: none;
  color: black;
}

.banner {
  padding: 25px;
  text-align: center;
}

.banner h1 {
  font-size: 35px;
}

.banner h4 {
  color: rgb(121, 141, 163);
  font-weight: unset;
}

.content {
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
}

.slider {
  position: relative;
  padding-bottom: 35px;
  overflow: hidden;
}

.slider img {
  border-radius: 10px;
  width: 600px;
  height: 370px;
  display: none;
}

.account {
  display: flex;
  padding: 35px 45px;
}

.account-circle {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: rgba(237, 240, 244, 255);
  margin-top: 4px;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.account-name {
  padding-left: 20px;
  text-align: left;
  line-height: 0.5;
  padding-bottom: 50px;
}

.account-name i {
  color: rgb(121, 141, 163);
}

hr {
  width: 150px;
  height: 5px;
  background-color: rgb(35, 35, 35, 0.07);
  border: none;
  border-radius: 3px;
  margin-top: -40px;
}

.content-describe {
  text-align: left;
  font-size: 18px;
  line-height: 1.5;
}

.content-list {
  display: flex;
}

.list {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(237, 240, 244, 255);
  color: rgb(121, 141, 163);
  margin-top: 10px;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: bolder;
}

.desc-list {
  display: flex;
  text-align: left;
  color: rgb(121, 141, 163);
  padding-left: 15px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 1.5;
}

.wrap {
  display: flex;
  padding-right: 150px;
  padding-left: 150px;
  justify-content: space-between;
}

.photo-desc i {
  font-size: 20px;
  color: rgb(121, 141, 163);
  margin-left: -100px;
}

.form {
  background-color: rgba(237, 240, 244, 255);
  border-radius: 10px;
  padding: 20px 50px;
  width: 300px;
  height: 550px;
}

.form h3 {
  font-size: 26px;
  text-align: left;
}

.form form label {
  display: block;
  justify-content: left;
  align-items: start;
  text-align: left;
}

.form p {
  text-align: left;
  font-size: 15px;
  color: rgb(121, 141, 163);
}

input {
  width: 300px;
  height: 45px;
  border-color: rgb(121, 141, 163, 0.3);
  border-style: solid;
  border-radius: 5px;
  border-width: 3px;
  font-size: 14px;
  text-align: left;
  padding-left: 10px;
}

select {
  width: 310px;
  height: 55px;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(121, 141, 163, 0.3);
  color: rgb(121, 141, 163);
  font-size: 14px;
  text-align: left;
}

.button {
  padding: 10px;
  color: white;
  border-radius: 3px;
  border-style: none;
  background-color: rgba(41, 50, 61, 255);
  width: 310px;
  height: 45px;
  cursor: pointer;
}

.main-package {
  padding-bottom: 50px;
}

.package {
  font-size: 35px;
  text-align: center;
  background-color: rgba(237, 240, 244, 255);
  padding: 60px;
}

.package-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 140px;
}

.package-box {
  padding-top: 100px;
  padding-bottom: 50px;
}

.package-line {
  width: 150px;
  height: 5px;
  background-color: rgb(35, 35, 35, 0.07);
  border: none;
  border-radius: 3px;
  margin-top: 50px;
  margin-bottom: -50px;
}

.box-warp {
  display: flex;
  width: 300px;
  height: 150px;
}

.box-content {
  padding-left: 15px;
  padding-top: 5px;
}

.box-content h3 {
  line-height: 1;
}

.box-content p {
  line-height: 1.3;
  color: rgb(121, 141, 163);
}

.list-box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(237, 240, 244, 255);
  color: #a8b7c7;
  margin-top: 10px;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.call-head {
  border-top: 1.5px solid rgb(35, 35, 35, 0.2);
  margin-top: -50px;
  padding: 2em;
}

.call-content {
  text-align: center;
}

.call-content h1 {
  font-size: 35px;
}

.call-content p {
  color: rgb(121, 141, 163);
  font-size: 17px;
  line-height: 1.5;
}

.div-btn {
  display: flex;
  padding: 50px;
  justify-content: center;
}

.call-button {
  padding: 10px;
  color: white;
  border-radius: 3px;
  border-style: none;
  background-color: rgba(41, 50, 61, 255);
  width: 200px;
  height: 45px;
  cursor: pointer;
}

footer {
  padding: 2em;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  border-top: 1px solid rgb(35, 35, 35, 0.2);
}

.logo-footer {
  height: 30px;
  width: 80px;
}

.footer-text {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: rgb(121, 141, 163);
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
